@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

/* main styles */
main {
    width: 1140px;
    margin: 0 auto;
    text-align: center;
}

/* shared styles */
.section-title {
    font-size: 32px;
    font-weight: 800;
    color: #0D1321;
}



/* nav styles */
.nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 150px;
}

.nav-title {
    font-size: 28px;
    font-weight: 800;
    color: #0D1321;
}

.nav-btn {
    font-size: 20px;
    font-weight: 600;
    color: #0D1321;
    background-color: #fff;
    border-radius: 8px;
    padding: 17px 24px;
}

/* banner styles */
.banner {
    text-align: center;
    padding: 26px 221px 45px;
    background-image: url('../images/Hero-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner-title {
    font-size: 48px;
    font-weight: 800;
    margin: 32px 0 24px;

}

.banner-btn {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    background-color: #0D1321;
    border-radius: 8px;
    padding: 21px 24px;
    margin-top: 32px;
}



/* my inspiration section styles */
.my-inspiration h3{
    margin: 90px 0 24px;
}
.youtube-video-container {
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    margin-top: 48px;
    padding: 32px;
}

.youtube-video {
    /* width: 100%;
    height: 100%; */
    border-radius: 16px;
}


/* latest deals section styles */
.need-support {
    text-align: center;
    position: relative;
    background-image: url(../images/handshake.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 50px 0 80px;
    border-radius: 16px;
}

/* .need-support::after {
    content: ''; 
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); 
    border-radius: 16px; 
} */

.need-support-content {

    margin-bottom: 128px;
    padding: 64px 220px;
}

.need-support-title {
    color: #FFF;
    font-size: 32px;
    font-weight: 700;
}

.need-support-description {
    color: #FFF;
    margin: 24px 0;
}

.need-support-content form {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.need-support-content input[type="text"] {
    width: 700px;
    height: 64px;
    border: 0;
    color: rgba(13, 19, 33, 0.4);
    border-radius: 8px;
    background: #FFF;
    padding-left: 22px;
}

.need-support-btn {
    font-size: 20px;
    font-weight: 600;
    color: #0D1321;
    background-color: #fff;
    border-radius: 8px;
    padding: 17px 20px;
}

/* footer styles */
footer {
    padding: 32px 150px;
    background-color: rgba(13, 19, 33, 0.03);
}

.footer-contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
}

.footer-title {
    font-size: 20px;
    font-weight: 600;
}